header {
    background-color: black;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.header-navigation {
    display: flex;
    gap: 30px;
}

.header-navigation a {
    transition: all 0.6s ease;
    font-size: 16px;
    &:hover {
        font-size: 17px;
        color: #72cdfa;
        transition: all 0.6s ease;
    }
}

.headers-icons {
    display: flex;
    gap: 30px;
}

.btn-icon {
    color:  whitesmoke;
    transition: all 0.6s ease;
    &:hover {
        color: #72cdfa;
        transition: all 0.6s ease;
    }
}


/* Slider */
.slider-container {
  width: 85%;
  margin: 30px auto;
  height: 60vh;
  position: relative; /* нужно для абсолютного позиционирования текста */
  overflow: hidden;
  border-radius: 10px;
}

.slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.slide-content {
  position: absolute;
  top: 28%;
  left: 5%;

  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}

.catalog_btn {
    display: inline-block; 
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    font-size: 14px;
    color: white; 
    text-decoration: none; 
    text-align: center; 
}



/* Обувь */
.shoes-container {
    margin: 30px auto;
    width: 85%;
    height: 80vh;
}

.title-shoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-shoes a {
    text-decoration: underline;
    transition: all 0.6s ease;
    color: white;
    cursor: pointer;
    &:hover {
        color: #72cdfa;
        transition: all 0.6s ease;
    }
}
